<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EBAH ERP | Admin</title>

  <!-- CSS -->
  <link rel="stylesheet" href="../../css/index.css">
  <link rel="stylesheet" href="../../css/responsive.css">
  <link rel="stylesheet" href="../../css/darkMode.css">

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../../js/admin/dashboard.module.js"></script>
</head>

<body>
  <section>
    <%- include('../partials/admin.aside.ejs') %>
      <main data-app-page="expense">
        <div class="main-data">
          <%- include('../partials/admin.header.ejs') %>
            <!-- --HEADING-- -->
            <div class="heading">
              <h2>Expenses</h2>
              <p class="title">Find all expenses here</p>
            </div>
            <!-- --SUB-HEADING-- -->
            <div class="top-section flex align-center j-between">
              <div class="section-text">
                <h3 class="flex">All Expenses</h3>
              </div>
              <div class="utility-section flex align-center">
                <div class="searchBox flex align-center">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="search" onclick="SearchFromInput()">
                    <path fill="##000000"
                      d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z">
                    </path>
                  </svg>
                  <input type="text" id="searchQuery" oninput="search()" placeholder="Search for anything...">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="times" class="close"
                    onclick="clearInput()">
                    <path fill="##000000"
                      d="M13.41,12l4.3-4.29a1,1,0,1,0-1.42-1.42L12,10.59,7.71,6.29A1,1,0,0,0,6.29,7.71L10.59,12l-4.3,4.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l4.29,4.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z">
                    </path>
                  </svg>
                </div>
                <div class="filter-list flex align-center">
                  <select id="ExpsMonth">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                  <select id="ExpsYear">
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025" selected>2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                  </select>
                  <span class="icon" onclick="ChangeExpsByMonths(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="search">
                    <path fill="##000000"
                      d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z">
                    </path>
                  </svg>
                  </span>
                </div>
                <div class="filter hide">
                  <button class="btn-secondary flex align-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="filter">
                      <path fill=""
                        d="M19,2H5A3,3,0,0,0,2,5V6.17a3,3,0,0,0,.25,1.2l0,.06a2.81,2.81,0,0,0,.59.86L9,14.41V21a1,1,0,0,0,.47.85A1,1,0,0,0,10,22a1,1,0,0,0,.45-.11l4-2A1,1,0,0,0,15,19V14.41l6.12-6.12a2.81,2.81,0,0,0,.59-.86l0-.06A3,3,0,0,0,22,6.17V5A3,3,0,0,0,19,2ZM13.29,13.29A1,1,0,0,0,13,14v4.38l-2,1V14a1,1,0,0,0-.29-.71L5.41,8H18.59ZM20,6H4V5A1,1,0,0,1,5,4H19a1,1,0,0,1,1,1Z">
                      </path>
                    </svg>
                    <span class="text">Filter</span>
                  </button>
                </div>
                <div class="add-button">
                  <button class="btn-primary flex align-center" type="button" onclick="addExpenseForm(this)">
                    <span class="text">Add Expense</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="plus-circle" class="">
                      <path fill=""
                        d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Zm4-9H13V8a1,1,0,0,0-2,0v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2Z">
                      </path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>

            <!-- ----------- DATA TABLE----------- -->

            <div class="data-info expense-table">
              <table>
                <thead>
                  <tr>
                    <th>Ref No.</th>
                    <th>Expense Name</th>
                    <th>Amount</th>
                    <th>Date of Expense</th>
                    <th>Mode of Amount</th>
                    <th>Remarks</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                  <% data?.forEach(exps=>{ %>
                    <tr data-exps_id="<%= exps.id %>">
                      <td>
                        <%= exps.id %>
                      </td>
                      <td class="exp-name-data">
                        <%= exps.title %>
                      </td>
                      <td class="exp-amount-data">
                        &#8377; <%= exps.amount %>
                      </td>
                      <td class="exp-date-data">
                        <%= exps.date %>
                      </td>
                      <td class="exp-mode-data">
                        <%= exps.md_type %>
                      </td>
                      <td>
                        <%= exps.remark %>
                      </td>
                      <td class="flex align-center">
                        <button class="edit" data-exps_id="<%= exps.id %>" onclick="editExpense(this)">Edit</button>
                      </td>
                    </tr>
                    <% }) %>
                </tbody>

                <tfoot>
                  <tr>
                    <td colspan="4"></td>
                    <td colspan="3"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
        </div>



        <!-- POPUPS  -->

        <div class="main-popup hide"></div>
        <%- include('../partials/tasks/notification.ejs') %>
          <%- include('../partials/tasks/alert.ejs') %>
      </main>
  </section>


  <!-- JAVASCRIPT -->
  <script src="../../js/admin/index.js"></script>
  <script src="/js/admin/common.js"></script>
  <script src="/js/admin/expense.js"></script>
</body>

</html>