<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBAH ERP | Admin</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/responsive.css">
    <link rel="stylesheet" href="../../css/darkMode.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../js/admin/dashboard.module.js"></script>
</head>

<body>

    <section>
        <%- include('../partials/admin.aside.ejs') %>
            <main data-app-page="finance">
                <div class="main-data">
                    <%- include('../partials/admin.header.ejs') %>
                        <!-- --HEADING-- -->
                        <div class="heading">
                            <h2>Project Finance</h2>
                            <p class="title">Find all project finances here</p>
                        </div>
                        <!-- --SUB-HEADING-- -->
                        <div class="top-section flex align-center j-between">
                            <div class="section-text">
                                <h3 class="flex">All Finances</h3>
                            </div>
                            <div class="searchBox flex align-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="search"
                                    onclick="SearchFromInput()">
                                    <path fill="##000000"
                                        d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z">
                                    </path>
                                </svg>
                                <input type="text" class="searchQuery" oninput="search()"
                                    placeholder="Search for anything...">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="times" class="close"
                                    onclick="clearInput()">
                                    <path fill="##000000"
                                        d="M13.41,12l4.3-4.29a1,1,0,1,0-1.42-1.42L12,10.59,7.71,6.29A1,1,0,0,0,6.29,7.71L10.59,12l-4.3,4.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l4.29,4.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <!-- ----------- DATA TABLE----------- -->

                        <div class="data-info">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Ref No.</th>
                                        <th>Client Name</th>
                                        <th>Address</th>
                                        <th>Project Amount</th>
                                        <th>Received Amount</th>
                                        <th>Balance</th>
                                        <th>Split Ratio</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% sortedData?.forEach((fdata)=>{ %>
                                        <tr >
                                            <td data-dealid="<%= fdata[0].id %>">
                                                <%= fdata[0].reference_no %>
                                            </td>
                                            <td>
                                                <%= fdata[0].deal_name %>
                                            </td>
                                            <td>
                                                <%= fdata[0].city %>
                                            </td>
                                            <td>
                                                &#8377;<%= fdata[0].total_price %>
                                            </td>
                                            <% const rAmount=fdata?.flatMap((task)=> {
                                                return task.amount_rcv.reduce((sum, amount)=>sum + amount.amount, 0)
                                                })
                                                const rAmountRender = rAmount.reduce((acc, curr) => acc + curr, 0);

                                                %>

                                                <td>
                                                    &#8377;<%= rAmountRender %>
                                                </td>
                                                <td>
                                                    &#8377;<%= fdata[0]?.total_price - rAmountRender %>
                                                </td>
                                                <td>
                                                    <%= fdata[0].split %>
                                                </td>
                                                <td>
                                                    <span class="icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                            id="angle-double-right">
                                                            <path fill=""
                                                                d="M8.46,8.29A1,1,0,1,0,7,9.71L9.34,12,7,14.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3-3a1,1,0,0,0,0-1.42Zm8.5,3-3-3a1,1,0,0,0-1.42,1.42L14.84,12l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3-3A1,1,0,0,0,17,11.29Z">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </td>
                                        </tr>
                                        <% }) %>
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <td colspan="5"></td>
                                        <td colspan="3"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                </div>
                <div class="more-data hide">
                    <%  sortedData?.forEach((el)=>{ %>
                        <%- include('../partials/np.fin.ejs', {fdata: el }) %>
                    <% }) %>
                </div>

                <!-- POPUPS  -->
                 
                <div class="main-popup hide"></div>
                <%- include('../partials/tasks/notification.ejs') %>
                <%- include('../partials/tasks/alert.ejs') %>
            </main>
    </section>

    <!-- JAVASCRIPT -->
    <script src="../../js/admin/index.js"></script>
    <script src="../../js/admin/common.js"></script>
    <script src="../../js/admin/np.finance.js"></script>
</body>

</html>