<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBAH ERP | Admin</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/responsive.css">
    <link rel="stylesheet" href="../../css/darkMode.css">
    <link rel="stylesheet" href="sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../js/admin/dashboard.module.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4/dist/flatpickr.min.js"></script>

</head>

<body>
    <section>
        <%- include('../partials/admin.aside.ejs') %>
            <main data-app-page="form">
                <div class="main-data">
                    <%- include('../partials/admin.header.ejs') %>
                        <div class="heading">
                            <h2>Add a Project</h2>
                            <p class="title">Add projects to dashboard from here</p>
                        </div>
                        <div class="side-nav flex align-center">
                            <p class="title active" onclick="openTab('normalForm', this)">Normal</p>
                            <p class="title" onclick="openTab('miscForm', this)">Miscellaneous</p>
                        </div>
                        <div class="form-container">
                            <div class="normal" id="normalForm">
                                <form action="" class="form" id="np-form-data">
                                    <h3 class="uppercase">Contact Details</h3>
                                    <div class="grid">
                                        <div class="field">
                                            <p class="title">Client Name</p>
                                            <input type="text" name="name" id="name">
                                        </div>
                                        <div class="field">
                                            <p class="title">Phone Number <span>(e.g. 9874563210)</span></p>
                                            <input type="text" id="number">
                                        </div>
                                        <div class="field">
                                            <p class="title">Email ID <span>(*optional)</span></p>
                                            <input type="text" name="email" id="email">
                                        </div>
                                        <div class="field">
                                            <p class="title">Address <span>(*optional)</span></p>
                                            <input type="text" id="number">
                                        </div>
                                    </div>
                                    <h3 class="uppercase">Project Details</h3>
                                    <div class="grid">
                                        <div class="field">
                                            <p class="title">Reference Number</p>
                                            <input type="text" name="rfNo" id="ref">
                                        </div>
                                        <div class="field">
                                            <p class="title">Project Name</p>
                                            <input type="text" id="number">
                                        </div>
                                        <div class="field">
                                            <p class="title">Work Type</p>
                                            <div class="flex align-center">
                                                <div class="flex align-center">
                                                    <input type="checkbox" name="task" id="arch" value="1">
                                                    <p class="type">Architecture</p>
                                                </div>
                                                <div class="flex align-center">
                                                    <input type="checkbox" name="task" id="arch" value="2">
                                                    <p class="type">Structural</p>
                                                </div>
                                                <div class="flex align-center">
                                                    <input type="checkbox" name="task" id="three" value="3">
                                                    <p class="type">3D</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <p class="title">Total Amount <span>(in &#8377;)</span></p>
                                            <input type="text" name="TotalAm" id="amount">
                                        </div>
                                        <div class="field">
                                            <p class="title">Advance Amount <span>(in &#8377;)</span></p>
                                            <input type="text" name="agreementAm" id="amount">
                                        </div>
                                        <div class="field">
                                            <p class="title">Agreement Date <span>(DD/MM/YYYY)</span></p>
                                            <input type="text" name="npdeadline" placeholder="DD/MM/YYYY" oninput="checkDeadline_Valid(this)"
                                                id="Normal_aggrement-date">
                                        </div>
                                        <div class="field">
                                            <p class="title">Amount Split Ratio</p>
                                            <select name="split" id="splitRatio" >
                                                    <option value="">Select Split Ratio(Arch: Strc: 3D)</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <p class="title">Project Category</p>
                                            <select name="category">
                                                    <option value="">Select Project Category</option>
                                                <% results[1]?.forEach((e)=>{ %>
                                                    <option value="<%= e.cat_name %>">
                                                        <%= e.cat_name %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="action-btn flex align-center">
                                        <button type="submit" onclick="SubmitNormalFormData(event)"
                                            class="flex-1">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <div class="miscForm hide" id="miscForm">
                                <form action="" class="form" id="mp-form-data">
                                    <h3 class="uppercase">Contact Details</h3>
                                    <div class="grid">
                                        <div class="field">
                                            <p class="title">Client Name</p>
                                            <input type="text" name="name" id="name">
                                        </div>
                                        <div class="field">
                                            <p class="title">Phone Number <span>(e.g. 9874563210)</span></p>
                                            <input type="text" id="number" name="contactNo">
                                        </div>
                                        <div class="field">
                                            <p class="title">Email ID <span>(*optional)</span></p>
                                            <input type="text" name="email" id="email">
                                        </div>
                                        <div class="field">
                                            <p class="title">Address <span>(*optional)</span></p>
                                            <input type="text" id="address" name="city">
                                        </div>
                                    </div>
                                    <h3 class="uppercase">Project Details</h3>
                                    <div class="grid">
                                        <div class="field">
                                            <p class="title">Reference Number</p>
                                            <input type="text" name="rfNo" id="ref">
                                        </div>
                                        <div class="field">
                                            <p class="title">Project Name</p>
                                            <input type="text" id="number" name="workName">
                                        </div>
                                        <div class="field">
                                            <p class="title">Total Amount <span>(in &#8377;)</span></p>
                                            <input type="text" name="TotalAm" id="amount">
                                        </div>
                                        <div class="field">
                                            <p class="title">Advance Amount <span>(in &#8377;)</span></p>
                                            <input type="text" name="agreementAm" id="amount">
                                        </div>
                                        <div class="field">
                                            <p class="title">Agreement Date <span>(DD/MM/YYYY)</span></p>
                                            <input type="text" name="mpdeadline" placeholder="DD/MM/YYYY" oninput="checkDeadline_Valid(this)"
                                                id="Misc_aggrement-date">
                                        </div>
                                        <div class="field">
                                            <p class="title">Type Of Work</p>
                                            <select name="task">
                                                    <option value="">Select Type Of Work</option>
                                                <% results[0]?.forEach((val)=>{ %>
                                                    <option value="<%= val.msub_task_id %>">
                                                        <%= val.msub_task_name %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <p class="title">Project Category</p>
                                            <select name="category">
                                                    <option value="">Select Project Category</option>
                                                <% results[1]?.forEach((e)=>{ %>
                                                    <option value="<%= e.cat_name %>">
                                                        <%= e.cat_name %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="action-btn flex align-center">
                                        <button type="submit" onclick="SubmitMiscFormData(event)"
                                            class="flex-1">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>

                <!-- POPUPS  -->

                <%- include('../partials/tasks/notification.ejs') %>
                    <%- include('../partials/tasks/alert.ejs') %>
            </main>
    </section>

    <script>
        flatpickr("#Normal_aggrement-date", { dateFormat: "d/m/Y", allowInput: true });
        flatpickr("#Misc_aggrement-date", { dateFormat: "d/m/Y", allowInput: true });
    </script>
    <!-- JAVASCRIPT -->
    <script src="/js/admin/form.js"></script>
    <script src="/js/admin/index.js"></script>
    <script src="/js/admin/common.js"></script>
</body>

</html>