<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBAH ERP | Admin</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/admin/header.css">
    <link rel="stylesheet" href="../../css/darkMode.css">
    <link rel="stylesheet" href="/css/admin/main.css">
    <link rel="stylesheet" href="/css/admin/responsive.css">

    <link rel="stylesheet" href="/css/admin/settings.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.10.1/dist/sweetalert2.min.css
    " rel="stylesheet">

</head>

<body>


    <%- include('../partials/admin.header.ejs') %>
        <!-- MAIN SECTION STARTS HERE  -->
        <main class="main" data-app-page="settings">
            <!-- ----------------TITLE------------------- -->
            <div class="misContainer">
                <h4 class="uppercase">SETTINGS</h4>
            </div>
            <div class="main-data flex mixes">
                <!-- -0----------MISCELLANEOUS TASK EDIT----------- -->
                <div class="miscel-task accordion-content" id="0">
                    <div class="heading ahead flex">
                        <div class="flexion">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="file-blank" class="svg">
                                <path fill="##000000"
                                    d="M20,8.94a1.31,1.31,0,0,0-.06-.27l0-.09a1.07,1.07,0,0,0-.19-.28h0l-6-6h0a1.07,1.07,0,0,0-.28-.19l-.09,0A.88.88,0,0,0,13.05,2H7A3,3,0,0,0,4,5V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V9S20,9,20,8.94ZM14,5.41,16.59,8H15a1,1,0,0,1-1-1ZM18,19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V5A1,1,0,0,1,7,4h5V7a3,3,0,0,0,3,3h3Z">
                                </path>
                            </svg>
                            <p class="set">Miscellaneous Task</p>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-down" class="svg">
                            <path fill="##000000"
                                d="M11.29,11.46a1,1,0,0,0,1.42,0l3-3A1,1,0,1,0,14.29,7L12,9.34,9.71,7A1,1,0,1,0,8.29,8.46Zm3,1.08L12,14.84l-2.29-2.3A1,1,0,0,0,8.29,14l3,3a1,1,0,0,0,1.42,0l3-3a1,1,0,0,0-1.42-1.42Z">
                            </path>
                        </svg>
                    </div>
                    <!-- ---------------------- content-------------------- -->
                    <div class="contentset adata">
                        <div class="btin">
                            <input type="text" name="miscel-task" id="miscel-task" placeholder="eg: architecture"
                                class="cinput">
                            <button class="uppercase" onclick="addMiscTask()" id="">
                                <span>Add</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="plus-circle">
                                    <path fill="##000000"
                                        d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Zm4-9H13V8a1,1,0,0,0-2,0v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2Z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                        <div class="btasks">
                            <% data[1].forEach(mtask=>{ %>
                                <ul class="listContainer">
                                    <li class="setTask" data-elmId="<%= mtask.msub_task_id %>">
                                        <span class="ttext">
                                            <%= mtask.msub_task_name %>
                                        </span>
                                        <span class="icon" onclick="ModelOpen(this,0)"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="pen">
                                                <path fill="##000000"
                                                    d="M22,7.24a1,1,0,0,0-.29-.71L17.47,2.29A1,1,0,0,0,16.76,2a1,1,0,0,0-.71.29L13.22,5.12h0L2.29,16.05a1,1,0,0,0-.29.71V21a1,1,0,0,0,1,1H7.24A1,1,0,0,0,8,21.71L18.87,10.78h0L21.71,8a1.19,1.19,0,0,0,.22-.33,1,1,0,0,0,0-.24.7.7,0,0,0,0-.14ZM6.83,20H4V17.17l9.93-9.93,2.83,2.83ZM18.17,8.66,15.34,5.83l1.42-1.41,2.82,2.82Z">
                                                </path>
                                            </svg></span>
                                    </li>
                                </ul>
                                <% }) %>
                        </div>
                    </div>
                </div>
                <!-- --------------SUB TASKS EDIT-------------- -->
                <div class="miscel-task accordion-content" id="1">
                    <div class="heading ahead flex">
                        <div class="flexion">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="file-blank" class="svg">
                                <path fill="##000000"
                                    d="M20,8.94a1.31,1.31,0,0,0-.06-.27l0-.09a1.07,1.07,0,0,0-.19-.28h0l-6-6h0a1.07,1.07,0,0,0-.28-.19l-.09,0A.88.88,0,0,0,13.05,2H7A3,3,0,0,0,4,5V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V9S20,9,20,8.94ZM14,5.41,16.59,8H15a1,1,0,0,1-1-1ZM18,19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V5A1,1,0,0,1,7,4h5V7a3,3,0,0,0,3,3h3Z">
                                </path>
                            </svg>
                            <p class="set">Sub Tasks</p>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-down" class="svg">
                            <path fill="##000000"
                                d="M11.29,11.46a1,1,0,0,0,1.42,0l3-3A1,1,0,1,0,14.29,7L12,9.34,9.71,7A1,1,0,1,0,8.29,8.46Zm3,1.08L12,14.84l-2.29-2.3A1,1,0,0,0,8.29,14l3,3a1,1,0,0,0,1.42,0l3-3a1,1,0,0,0-1.42-1.42Z">
                            </path>
                        </svg>
                    </div>
                    <!-- ---------------------- content-------------------- -->
                    <div class="contentset adata">
                        <div class="btin">
                            <input type="text" name="miscel-task" id="sub-task" placeholder="e.g.: Plumbing">
                            <button class="uppercase" onclick="addSubTask()" id="">
                                <span>Add</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="plus-circle">
                                    <path fill="##000000"
                                        d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Zm4-9H13V8a1,1,0,0,0-2,0v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2Z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                        <div class="btasks">
                            <% data[0].forEach(subTask=>{ %>
                                <ul class="listContainer">
                                    <li class="setTask" data-elmId='<%= subTask.sub_task_id %>'>
                                        <span class="ttext">
                                            <%= subTask.sub_task_name %>
                                        </span>
                                        <span class="icon" onclick="ModelOpen(this,1)"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="pen">
                                                <path fill="##000000"
                                                    d="M22,7.24a1,1,0,0,0-.29-.71L17.47,2.29A1,1,0,0,0,16.76,2a1,1,0,0,0-.71.29L13.22,5.12h0L2.29,16.05a1,1,0,0,0-.29.71V21a1,1,0,0,0,1,1H7.24A1,1,0,0,0,8,21.71L18.87,10.78h0L21.71,8a1.19,1.19,0,0,0,.22-.33,1,1,0,0,0,0-.24.7.7,0,0,0,0-.14ZM6.83,20H4V17.17l9.93-9.93,2.83,2.83ZM18.17,8.66,15.34,5.83l1.42-1.41,2.82,2.82Z">
                                                </path>
                                            </svg></span>
                                    </li>
                                </ul>
                                <% })%>
                        </div>
                    </div>
                </div>
                <!-- --------------Split Ratio-------------- -->
                <div class="miscel-task accordion-content" id="2">
                    <div class="heading ahead flex">
                        <div class="flexion">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="file-blank" class="svg">
                                <path fill="##000000"
                                    d="M20,8.94a1.31,1.31,0,0,0-.06-.27l0-.09a1.07,1.07,0,0,0-.19-.28h0l-6-6h0a1.07,1.07,0,0,0-.28-.19l-.09,0A.88.88,0,0,0,13.05,2H7A3,3,0,0,0,4,5V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V9S20,9,20,8.94ZM14,5.41,16.59,8H15a1,1,0,0,1-1-1ZM18,19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V5A1,1,0,0,1,7,4h5V7a3,3,0,0,0,3,3h3Z">
                                </path>
                            </svg>
                            <p class="set">Split Ratio</p>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-down" class="svg">
                            <path fill="##000000"
                                d="M11.29,11.46a1,1,0,0,0,1.42,0l3-3A1,1,0,1,0,14.29,7L12,9.34,9.71,7A1,1,0,1,0,8.29,8.46Zm3,1.08L12,14.84l-2.29-2.3A1,1,0,0,0,8.29,14l3,3a1,1,0,0,0,1.42,0l3-3a1,1,0,0,0-1.42-1.42Z">
                            </path>
                        </svg>
                    </div>
                    <!-- ---------------------- content-------------------- -->
                    <div class="contentset adata">
                        <div class="btin">
                            <input type="text" name="miscel-task" id="split-ratio" placeholder="Arch : Struc : Design">
                            <button class="uppercase" onclick="addSplitRatio(this)" id="">
                                <span>Add</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="plus-circle">
                                    <path fill="##000000"
                                        d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Zm4-9H13V8a1,1,0,0,0-2,0v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2Z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                        <div class="btasks">
                            <% data[2].forEach(split=>{ %>
                                <ul class="listContainer">
                                    <li class="setTask" data-elmId="<%= split.cid %>">
                                        <span class="ttext">
                                            <%= split.splitvalue %>
                                        </span>
                                        <span class="icon" onclick="ModelOpen(this,2)"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="pen">
                                                <path fill="##000000"
                                                    d="M22,7.24a1,1,0,0,0-.29-.71L17.47,2.29A1,1,0,0,0,16.76,2a1,1,0,0,0-.71.29L13.22,5.12h0L2.29,16.05a1,1,0,0,0-.29.71V21a1,1,0,0,0,1,1H7.24A1,1,0,0,0,8,21.71L18.87,10.78h0L21.71,8a1.19,1.19,0,0,0,.22-.33,1,1,0,0,0,0-.24.7.7,0,0,0,0-.14ZM6.83,20H4V17.17l9.93-9.93,2.83,2.83ZM18.17,8.66,15.34,5.83l1.42-1.41,2.82,2.82Z">
                                                </path>
                                            </svg></span>
                                    </li>
                                </ul>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>

            <!-- --------------------MODAL WINDOW---------------- -->
            <div class="modal hide">
                <div class="modal-window">
                    <h3></h3>
                    <div class="field">
                        <input type="text" name="updated_val" id="updated_val">
                    </div>
                    <div class="modal-btn">
                        <button class="uppercase">update</button>
                        <button class="uppercase" onclick='ModelClose()'>Cancel</button>
                    </div>
                </div>
            </div>
        </main>
        </section>
        <!-- `<li class="setTask">
            <span class="ttext">Architecture</span>
            <span class="icon icon1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="pen">
                    <path fill="##000000"
                        d="M22,7.24a1,1,0,0,0-.29-.71L17.47,2.29A1,1,0,0,0,16.76,2a1,1,0,0,0-.71.29L13.22,5.12h0L2.29,16.05a1,1,0,0,0-.29.71V21a1,1,0,0,0,1,1H7.24A1,1,0,0,0,8,21.71L18.87,10.78h0L21.71,8a1.19,1.19,0,0,0,.22-.33,1,1,0,0,0,0-.24.7.7,0,0,0,0-.14ZM6.83,20H4V17.17l9.93-9.93,2.83,2.83ZM18.17,8.66,15.34,5.83l1.42-1.41,2.82,2.82Z">
                    </path>
                </svg></span>
            <span class="icon" onclick="ModelOpenxmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="trash-alt">
                    <path fill="##000000"
                        d="M10,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,10,18ZM20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Zm-3-1a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,14,18Z">
                    </path>
                </svg></span>
        </li>` -->
        <!-- JAVASCRIPT -->
        <script src="/js/admin/header.js"></script>
        <script src="/js/admin/common.js"></script>
        <script src="/js/admin/settings.js"></script>
</body>

</html>