<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBAH ERP | Admin</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/darkMode.css">
    <!-- <link rel="stylesheet" href="/css/admin/main.css"> -->

    <!-- <link rel="stylesheet" href="/css/admin/settings.css"> -->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.10.1/dist/sweetalert2.min.css
    " rel="stylesheet">

</head>

<body>
    <section>
        <%- include('../partials/admin.aside.ejs') %>
        <main data-app-page="settings">
            <div class="main-data">
                <%- include('../partials/admin.header.ejs') %>
                <div class="heading">
                    <h2>Settings</h2>
                    <p class="title">Manage all settings here</p>
                </div>
                <div class="switch grid">
                    
                    <div class="switch-content">
                        <div class="switch-title">
                            <h3>Miscellaneous</h3>
                        </div>
                        <div class="switch-btn flex align-center">
                            <input type="text" name="miscel-task" id="miscel-task">
                            <button onclick="addMiscTask()">Add</button>
                        </div>
                        <div class="switch-data" id="0">
                            <ul>
                                <% data[1].forEach(mtask=>{ %>
                                <li class="flex align-center" data-elmId="<%= mtask.msub_task_id %>">
                                    <span class="dot"></span>
                                    <span class="flex-1"><%= mtask.msub_task_name %></span>
                                    <button onclick="editMiscTask('.misc-task',this)">Edit</button>
                                </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>

                    <div class="switch-content">
                        <div class="switch-title">
                            <h3>Sub Tasks</h3>
                        </div>
                        <div class="switch-btn flex align-center">
                            <input type="text" name="sub-task" id="small-task">
                            <button onclick="addSubTask()">Add</button>
                        </div>
                        <div class="switch-data" id="1">
                            <ul>
                                <% data[0].forEach(subTask=>{ %>
                                <li class="flex align-center" data-elmId='<%= subTask.sub_task_id %>'>
                                    <span class="dot"></span>
                                    <span class="flex-1"><%= subTask.sub_task_name %></span>
                                    <button onclick="editSubTask('.small-task', this)">Edit</button>
                                </li>
                                <% })%>
                            </ul>
                        </div>
                    </div>

                    <!-- --------------Split Ratio-------------- -->
                    <div class="switch-content">
                        <div class="switch-title">
                            <h3>Split Ratio <span>(Arch: Strc: 3D)</span></h3>
                        </div>
                        <div class="switch-btn flex align-center">
                            <input type="text" name="split-ratio" id="split-ratio">
                            <button onclick="addSplitRatio()" id="">Add</button>
                        </div>
                        <div class="switch-data" id="2">
                            <ul>
                                <% data[2].forEach(split=>{ %>
                                <li class="flex align-center" data-elmId="<%= split.cid %>">
                                    <span class="dot"></span>
                                    <span class="flex-1"><%= split.splitvalue %></span>
                                    <button onclick="editSplitRatio('.split-ratio',this)">Edit</button>
                                </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <!-- POPUPS  -->
            <div class="main-popup hide"></div>
            <%- include('../partials/tasks/notification.ejs') %>
            <%- include('../partials/tasks/alert.ejs') %>
        </main>
    </section>

        <!-- JAVASCRIPT -->
        <script src="/js/admin/index.js"></script>
        <script src="/js/admin/common.js"></script>
        <script src="/js/admin/settings.js"></script>
</body>

</html>