<div class="accordion-content">
    <div class="ahead grid">
        <p class="ref">
            <span class="uppercase hide block phead">Ref. No.</span>
            <span id="mrefid"><%= data.reference_no %></span>
        </p>
        <p class="cli none"><%= data.sdeal_name %></p>
        <p class="pro">
            <span class="uppercase hide block phead">name of work</span>
            <span><%= data.work_name %></span>
        </p>
        <p class="emp_date">
            <span class="uppercase hide block phead">Deadline</span>
            <span><%= data.mp_deadline %></span>
        </p>
        <p class="<%= data.mstask_status.toLowerCase() === 'completed' ? 'stat flex green': 'stat flex red'%>"><%= data.mstask_status %></p>
        <p class="edit-btn" data-dealid="<%= data.sdid %>" onclick="editProject(this, 'misc')">Edit</p>
        <p class="arrow-down">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-down" class="svg">
                <path fill="##000000"
                    d="M11.29,11.46a1,1,0,0,0,1.42,0l3-3A1,1,0,1,0,14.29,7L12,9.34,9.71,7A1,1,0,1,0,8.29,8.46Zm3,1.08L12,14.84l-2.29-2.3A1,1,0,0,0,8.29,14l3,3a1,1,0,0,0,1.42,0l3-3a1,1,0,0,0-1.42-1.42Z">
                </path>
            </svg>
        </p>
    </div>
    <!-- ----------open data for accordion---------- -->
    <div class="adata">
        <div class="oth-info grid none">
            <p></p>
            <p class="contact">
                <span class="uppercase phead">contact No</span>
                <span class="contact_no"><%= data.contact %></span>
            </p>
            <p class="e-mail">
                <span class="uppercase phead">email</span>
                <span class="g-mail"><%= data.email %></span>
            </p>
            <p class="agreement">
                <span class="uppercase phead">Advance Amount</span>
                <span class="amount">&#8377;<%= data.agreement_amount %></span>
            </p>
            <p class="address">
                <span class="uppercase phead">address</span>
                <span class="add_info"><%= data.city %></span>
            </p>
            <p></p>
        </div>
        <div class="project_expand grid">
            <p class="none"></p>
            <!-- ARCHITECTURE  -->
            <%- include('../partials/subtask.ejs', {subdata: data}) %>
        </div>

    </div>
</div>