<div class="accordion-content">
    <div class="ahead grid">
        <p class="ref">
            <span class="uppercase hide block phead">Ref. No.</span>
            <span id="refid" dataset-dealId="<%= pdata.id %>"><%= pdata.reference_no %></span>
        </p>
        <p class="cli none"><%= pdata.deal_name %></p>
        <p class="pro">
            <span class="uppercase hide block phead">name of work</span>
            <span><%= pdata.work_name %></span>
        </p>
        <p class="emp_date">
            <span class="uppercase hide block phead">Deadline</span>
            <span><%= pdata.np_deadline ? pdata.np_deadline : "N/A" %></span>
        </p>
        <% 
        let overallStatus = pdata.category.every((el)=>{
            if(el.cat_mp_status.toLowerCase() === 'completed'){
                return true;
            }else{
                return false;
            }
        })
        %>
        <p class="<%= overallStatus ? 'stat flex green' : 'stat flex red' %>"><%= overallStatus ? "completed" : "pending" %></p>
        <p class="flexy">
            <span class="edit-btn" data-dealid="<%= pdata.id %>" onclick="editProject(this, 'normal')">Edit</span>
            <span class="butt" onclick="DeleteProject(this,<%= pdata.id %>)"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="trash-alt"
                    class="icon">
                    <path fill=""
                        d="M10,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,10,18ZM20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Zm-3-1a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,14,18Z">
                    </path>
                </svg></span>
        </p>
        <p class="arrow-down">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-down"
                class="svg">
                <path fill="##000000"
                    d="M11.29,11.46a1,1,0,0,0,1.42,0l3-3A1,1,0,1,0,14.29,7L12,9.34,9.71,7A1,1,0,1,0,8.29,8.46Zm3,1.08L12,14.84l-2.29-2.3A1,1,0,0,0,8.29,14l3,3a1,1,0,0,0,1.42,0l3-3a1,1,0,0,0-1.42-1.42Z">
                </path>
            </svg>
        </p>
    </div>
    <!-- ----------open data for accordion---------- -->
    <div class="adata">
        <div class="oth-info grid none">
            <p></p>
            <p class="contact">
                <span class="uppercase phead">contact No</span>
                <span class="contact_no"><%= pdata.contact %></span>
            </p>
            <p class="e-mail">
                <span class="uppercase phead">email</span>
                <span class="g-mail"><%= pdata.email %></span>
            </p>
            <p class="agreement">
                <span class="uppercase phead">Project Amount</span>
                <span class="amount">&#8377; <%= pdata.total_price %></span>
            </p>
            <p class="address">
                <span class="uppercase phead">address</span>
                <span class="add_info"><%= pdata.city %></span>
            </p>
            <p></p>
        </div>
        <div class="project_expand grid">
            <p class="none"></p>
            <!-- tasks  --> 
            <% pdata.category.forEach((task)=>{ %>
            <%- include('./task.ejs', {cat: task, dealId : pdata.id} )%>
            <% }) %>
        </div>

    </div>
</div>