<div class="close-more-data hide" id="more-data-<%= fdata[0].id %>">
    <span class="icon" data-id="<%= fdata[0].id %>">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-left">
            <path fill="#"
                d="M11.46,8.29a1,1,0,0,0-1.42,0l-3,3a1,1,0,0,0,0,1.42l3,3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L9.16,12l2.3-2.29A1,1,0,0,0,11.46,8.29ZM14.66,12,17,9.71a1,1,0,0,0-1.42-1.42l-3,3a1,1,0,0,0,0,1.42l3,3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z">
            </path>
        </svg>
    </span>

<div class="more-data-text flex align-center">
    <h2>
        <%= fdata[0].reference_no %>
    </h2>
</div>

<!-- DETAILS  -->
<div class="contents grid">
    <div class="description flex align-center">
        <h3>Client Name:</h3>
        <p class="text">
            <%= fdata[0].deal_name %>
        </p>
    </div>
    <div class="description flex align-center">
        <h3>Address:</h3>
        <p class="text"><%= fdata[0].city %></p>
    </div>
    <div class="description flex align-center">
        <h3>Project Amount:</h3>
        <p class="text">&#8377; <span><%= fdata[0].total_price %></span></p>
    </div>
    <% 
            const rAmount = fdata?.flatMap((task)=> {
            return task.amount_rcv.reduce((sum, amount)=>sum + amount.amount, 0)
            })
            const rAmountRender = rAmount.reduce((acc, curr) => acc + curr, 0);
            
        %>
    <div class="description flex align-center">
        <h3>Received Amount:</h3>
        <p class="text">&#8377; <span><%= rAmountRender %></span></p>
    </div>
    <div class="description flex align-center">
        <h3>Received Amount:</h3>
        <p class="text">&#8377; <span><%= fdata[0]?.total_price - rAmountRender %></span></p>
    </div>
</div>

<div class="task-grid grid">
    <% fdata?.sort((a, b) => a.task_name.localeCompare(b.task_name)).forEach((task)=>{ %>
        <%- include('../partials/tasks/task.fin.ejs', {task: task, ratio: task.split.split(':')}) %>
    <% }) %>
</div>
</div>
