<div class="architecture badge">
    <div class="arrow flex">
        <p class="uppercase phead"><%= task.task_name %></p>
        <span onclick="openDick(this)" data-ndealid="<%= task.id %>" data-taskid="<%= task.task %>">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="plus-circle"
                class="svg">
                <path fill="##000000"
                    d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Zm4-9H13V8a1,1,0,0,0-2,0v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2Z">
                </path>
            </svg>
        </span>
    </div>
    <!-- <p class="fstat">Advance Received</p> -->
    <% 
      function maths(arg, ratioo) {
        if(arg == 'Architecture'){ 
            const val = (ratioo[0] / 10 ) * task.total_price;
            return val;
        }else if (arg == 'Structural') {
            const val = (ratioo[1] / 10 ) * task.total_price;
            return val;
        }else if (arg == 'Design') {
            const val = (ratioo[2] / 10 ) * task.total_price;
            return val; 
        }
      }

      const spiltVal =  maths(task.task_name, ratio)
    %>
    <div class="amount-sub">
        <div class="spl">
            <p class="uppercase phead">split</p>
            <p class="uppercase teamou">&#8377;<span>
                <%= spiltVal %>
            </span>/-</p>
        </div>
        <% 
           const amount_rcv = task.amount_rcv.reduce((total, val)=> {
                return total + val.amount;
           }, 0)
        %>
        <div class="sadv" onmouseenter="showAllAmount(this)" onmouseleave="closeAllAmount(this)">
            <p class="uppercase phead">advance</p>
            <p class="uppercase teamou">&#8377;<span><%= task.amount_got != undefined ?  amount_rcv : "_ _ _ _ _ " %></span> /- <span class="maka">total</span></p>
            <div class="hide" id="all-payment">
                <ul>
                   <% task.amount_rcv.forEach((pay) => { %>
                    <li style="color: var(--secondary-color); font-size: 13px;">Amount: <span><%= pay.amount %>  (<%= pay.mode %>) - <%= pay.date %></span></li>
                  <% }) %>
                </ul>
            </div>
        </div>
        <div class="sblnc">
            <p class="uppercase phead">balance</p>
            <p class="uppercase teamou">&#8377;<span><%= task.amount_got != undefined ? spiltVal - amount_rcv  : "_ _ _ _ " %></span>/-</p>
        </div>
    </div>
</div>