<div class="architecture badge">
    <div class="arrow">
        <p class="uppercase phead" id="cat-name"><%= cat.name %></p>
        <div class="task-emp-status">
            <div class="main-btns flex" data-taskid="<%= cat.cat_id %>" data-ndealid="<%= dealId %>" data-npcid="<%= cat.npcid %>">
                <!-- <button class="status-btn flex" onclick="ChangeTaskStatus(this)">
                    <span class="status_project">Status</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        id="arrow-circle-down">
                        <path fill="##000000"
                            d="M11.29,15.71a1,1,0,0,0,.33.21,1,1,0,0,0,.76,0,1,1,0,0,0,.33-.21l3-3a1,1,0,0,0-1.42-1.42L13,12.59V9a1,1,0,0,0-2,0v3.59l-1.29-1.3a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.42ZM12,22A10,10,0,1,0,2,12,10,10,0,0,0,12,22ZM12,4a8,8,0,1,1-8,8A8,8,0,0,1,12,4Z">
                        </path>
                    </svg>
                </button> -->
                <select data-taskstatus="<%= cat.cat_status %>" class="status-dropdown-menu common_dropdown" name="status" onchange="addTaskStatus(this, 'normal', 'apiv1/update-task-status')">
                    <option value="Not Started" <%= cat.cat_status == "Not started" ? "selected" : ""%>>Not started</option>
                    <option value="On Progress" <%= cat.cat_status == "On Progress" ? "selected" : ""%>>On Progress</option>
                    <option value="completed" <%= cat.cat_status == "completed" ? "selected" : ""%>>Completed</option>
                </select>
                <button class="" onclick="empPopup(this)">Employee</button>
                <button class="" onclick="subPopup(this)">Tasks</button>
            </div>
        </div>
    </div>

    <div class="sub-tasks sbox">
        <div class="assign-to" data-taskid="<%= cat.cat_id %>" data-ndealid="<%= dealId %>" >
            <div class="eaccordion flex">
                <p class="uppercase phead">assigned to</p>
                <span class="right-arr">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-right" class="svg"><path fill="##000000" d="M8.46,8.29A1,1,0,1,0,7,9.71L9.34,12,7,14.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3-3a1,1,0,0,0,0-1.42Zm8.5,3-3-3a1,1,0,0,0-1.42,1.42L14.84,12l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3-3A1,1,0,0,0,17,11.29Z"></path></svg>
                </span>
            </div>
            <ul class="emp-acc-data" id="emp-in-np">
                <!-- <li class="add-empl">Sri Venkataraman Venugopal Iyer</li>  --> 
            </ul>
        </div>
        <hr class="show">
        <div class="tasks-added">
            <p class="uppercase phead">tasks</p>
            <ul>
             <% cat.sub?.forEach((el)=>{ 
                if(el.s_name){  %>
                <li class="stasks" data-taskid="<%= cat.cat_id %>" data-ndealid="<%= dealId %>">
                    <input type="checkbox" name="plumbing" data-subtaskid="<%= el.s_id %>" onchange="updateSubtaskStatus(this)" <%= el.s_status == "completed" ? `checked` : "" %>>
                    <span><%= el.s_name %></span>
                </li>
                <% }}) %>
            </ul>
        </div>
        <hr class="show">
        <div class="task-deadline flex" data-taskid="<%= cat.cat_id %>" data-ndealid="<%= dealId %>" onclick="deadDrop(this)">
            <p class="uppercase phead">Deadline</p>
            <p><%= cat.cat_deadline ? cat.cat_deadline : "..!" %></p>
        </div>
    </div>
</div>