<div class="more-btn flex align-center j-between">
    <div class="close-more-data">
        <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-left">
                <path fill="#"
                    d="M11.46,8.29a1,1,0,0,0-1.42,0l-3,3a1,1,0,0,0,0,1.42l3,3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L9.16,12l2.3-2.29A1,1,0,0,0,11.46,8.29ZM14.66,12,17,9.71a1,1,0,0,0-1.42-1.42l-3,3a1,1,0,0,0,0,1.42l3,3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z">
                </path>
            </svg>
        </span>
    </div>
    <div class="edit-more-data flex align-center">
        <p class="title" onclick="setUserToMdl_pwd('.password-settings', this) ">Change Password</p>
        <button onclick="Disable_BtnHandler('.profile-grid',true)">Edit</button>
    </div>
</div>

<!-- DETAILS  -->
<div class="contents grid">
    <div class="description flex align-center">
        <h3>Name:</h3>
        <p class="text">
            <%= user.name %>
        </p>
    </div>
    <div class="description flex align-center">
        <h3>Phone Number:</h3>
        <p class="text">+91 <%= user.number==''?'N/A':user.number %>
        </p>
    </div>
    <div class="description flex align-center">
        <h3>Email ID:</h3>
        <p class="text">
            <%= user.email  %>
        </p>
    </div>
    <div class="description flex align-center">
        <h3>Designation:</h3>
        <p class="text">
            <%= user.job_role  %>
        </p>
    </div>
    <div class="description flex align-center">
        <h3>Last Login:</h3>
        <p class="text">
            <%= user.lastLoginAt  %>
        </p>
    </div>
    <div class="description flex align-center">
        <h3>Last Logout:</h3>
        <p class="text">
            <%= user.lastLogoutAt  %>
        </p>
    </div>
    <div class="description flex align-center">
        <h3>Status:</h3>
        <p class="text <%= user.status ? 'status success' : 'status warning' %>">
            <%= user.status ? "active" : "inactive" %>
        </p>
    </div>
</div>

<!-- PROJECT INVOLVED  -->
 <div class="tabs flex">
    <div class="project-involved flex-1">
        <div class="tabs-header flex align-center j-between">
            <p class="sub">Projects Involved In</p>
            <p class="value">1</p>
        </div>
        <div class="tabs-content">
            <p class="title">Normal Projects</p>
            <ul>
                <li class="flex align-center j-between">
                   <span class="dot"></span> <span class="flex-1">In Progress</span> <span>1</span>
                </li>
                <li class="flex align-center j-between">
                   <span class="dot"></span> <span class="flex-1">Completed</span> <span>1</span>
                </li>
            </ul>
        </div>
        <div class="tabs-content">
            <p class="title">Miscellaneous Projects</p>
            <ul>
                <li class="flex align-center j-between">
                   <span class="dot"></span> <span class="flex-1">In Progress</span> <span>1</span>
                </li>
                <li class="flex align-center j-between">
                   <span class="dot"></span> <span class="flex-1">Completed</span> <span>1</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="attendance flex-1">
        <div class="tabs-header flex align-center j-between">
            <p class="sub">Attendance</p>
            <p class="value">1</p>
        </div>
        <div class="tabs-content">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12/12/2024</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
 </div>