<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBAH ERP | CA</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/admin/main.css">
    <link rel="stylesheet" href="/css/admin/header.css">
    <link rel="stylesheet" href="/css/admin/responsive.css">
    <link rel="stylesheet" href="/css/admin/expense.css">
    <link rel="stylesheet" href="/css/admin/np.finance.css">

</head>

<body>
    <header class="flex">
        <div class="logo flex">
            <h3 class="uppercase">EBAH</h3>
            <span class="btn" id="ham">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="bars" class="svg ham">
                    <path fill="##000000"
                        d="M3,8H21a1,1,0,0,0,0-2H3A1,1,0,0,0,3,8Zm18,8H3a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Zm0-5H3a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Z">
                    </path>
                </svg>
            </span>
        </div>
        <div class="searchIcon" onclick="searchIcon()">
            <span class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="search" class="svg">
                    <path fill="##000000"
                        d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z">
                    </path>
                </svg>
            </span>
        </div>
        <div class="search">
            <input type="text" name="search" id="search" placeholder="Search">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="search" class="open">
                <path fill="##000000"
                    d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z">
                </path>
            </svg>
            <span class="cls">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="times" class="close">
                    <path fill="##000000"
                        d="M13.41,12l4.3-4.29a1,1,0,1,0-1.42-1.42L12,10.59,7.71,6.29A1,1,0,0,0,6.29,7.71L10.59,12l-4.3,4.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l4.29,4.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z">
                    </path>
                </svg>
            </span>
        </div>
        <div class="theme-toggler btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="sun" class="svg hide"><path fill="##000000" d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"></path></svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="moon" class="svg"><path fill="##000000" d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"></path></svg>
        </div>
        <div class="profileIcon flex" onclick="openProfile()">
            <img src="/img/admin.jpg" alt="profile" loading="lazy">
            <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 24 24" id="setting" class="svg">
                <path fill="##000000"
                    d="M19.9 12.66a1 1 0 0 1 0-1.32l1.28-1.44a1 1 0 0 0 .12-1.17l-2-3.46a1 1 0 0 0-1.07-.48l-1.88.38a1 1 0 0 1-1.15-.66l-.61-1.83a1 1 0 0 0-.95-.68h-4a1 1 0 0 0-1 .68l-.56 1.83a1 1 0 0 1-1.15.66L5 4.79a1 1 0 0 0-1 .48L2 8.73a1 1 0 0 0 .1 1.17l1.27 1.44a1 1 0 0 1 0 1.32L2.1 14.1a1 1 0 0 0-.1 1.17l2 3.46a1 1 0 0 0 1.07.48l1.88-.38a1 1 0 0 1 1.15.66l.61 1.83a1 1 0 0 0 1 .68h4a1 1 0 0 0 .95-.68l.61-1.83a1 1 0 0 1 1.15-.66l1.88.38a1 1 0 0 0 1.07-.48l2-3.46a1 1 0 0 0-.12-1.17ZM18.41 14l.8.9-1.28 2.22-1.18-.24a3 3 0 0 0-3.45 2L12.92 20h-2.56L10 18.86a3 3 0 0 0-3.45-2l-1.18.24-1.3-2.21.8-.9a3 3 0 0 0 0-4l-.8-.9 1.28-2.2 1.18.24a3 3 0 0 0 3.45-2L10.36 4h2.56l.38 1.14a3 3 0 0 0 3.45 2l1.18-.24 1.28 2.22-.8.9a3 3 0 0 0 0 3.98Zm-6.77-6a4 4 0 1 0 4 4 4 4 0 0 0-4-4Zm0 6a2 2 0 1 1 2-2 2 2 0 0 1-2 2Z">
                </path>
            </svg>
        </div>
        <div class="account-settings hide">

            <a class="flex" href="logout">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="signout" class="svg">
                    <path fill="##000000"
                        d="M4,12a1,1,0,0,0,1,1h7.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l4-4a1,1,0,0,0,.21-.33,1,1,0,0,0,0-.76,1,1,0,0,0-.21-.33l-4-4a1,1,0,1,0-1.42,1.42L12.59,11H5A1,1,0,0,0,4,12ZM17,2H7A3,3,0,0,0,4,5V8A1,1,0,0,0,6,8V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V16a1,1,0,0,0-2,0v3a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V5A3,3,0,0,0,17,2Z">
                    </path>
                </svg>
                <span>Log Out</span>
            </a>
        </div>
    </header>

    <section class="isaio flex">
        <!-- ASIDE SECTION  -->
        <aside>
            <nav>
                <div>
                    <h3 class="uppercase" id="thead">ebah</h3>
                </div>
                <div class="nav-lists">
                    <!-- Dashboard  -->
                    <ul>
                        <span class="namue">Dashboard</span>
                        <a class="flex " onclick="location.href= ``"><svg xmlns="http://www.w3.org/2000/svg"
                                data-name="Layer 1" viewBox="0 0 24 24" id="tachometer-fast-alt" class="svg">
                                <path fill="##000000"
                                    d="M12 5a10 10 0 0 0-8.66 15 1 1 0 0 0 1.74-1A7.92 7.92 0 0 1 4 15a8 8 0 1 1 14.93 4 1 1 0 0 0 .37 1.37 1 1 0 0 0 1.36-.37A10 10 0 0 0 12 5Zm2.84 5.76-1.55 1.54A2.91 2.91 0 0 0 12 12a3 3 0 1 0 3 3 2.9 2.9 0 0 0-.3-1.28l1.55-1.54a1 1 0 0 0 0-1.42 1 1 0 0 0-1.41 0ZM12 16a1 1 0 0 1 0-2 1 1 0 0 1 .7.28 1 1 0 0 1 .3.72 1 1 0 0 1-1 1Z">
                                </path>
                            </svg>
                            <span class="open">Expenses</span></a>
                    </ul>
                    <hr>
                </div>
            </nav>
        </aside> <!-- MAIN SECTION STARTS HERE  -->
        <main class="main">
            <!------------- EXPENSES-OVERALL-------------  -->
            <div class="main-data flex">
                <!-- -------TOTAL AMOUNT--------- -->

                <div class="total-amount flex data ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="money-bill-stack" class="svg">
                        <path fill="##000000"
                            d="M20,1H4A3,3,0,0,0,1,4V20a3,3,0,0,0,3,3H20a3,3,0,0,0,3-3V4A3,3,0,0,0,20,1ZM8,21H4a1,1,0,0,1-1-1V18.82A3,3,0,0,0,4,19H8Zm0-4H4a1,1,0,0,1-1-1V14.82A3,3,0,0,0,4,15H8Zm0-4H4a1,1,0,0,1-1-1V4A1,1,0,0,1,4,3H8Zm6,8H10V15h4Zm0-8H10V3h4Zm7,7a1,1,0,0,1-1,1H16V19h4a3,3,0,0,0,1-.18Zm0-4a1,1,0,0,1-1,1H16V15h4a3,3,0,0,0,1-.18Zm0-4a1,1,0,0,1-1,1H16V3h4a1,1,0,0,1,1,1ZM18,7a1,1,0,1,0,1,1A1,1,0,0,0,18,7ZM6,9A1,1,0,1,0,5,8,1,1,0,0,0,6,9Z">
                        </path>
                    </svg>
                    <div class="total_user_data">
                        <p class="size">&#8377;<span>
                                <%= data[2][0].total_sum + data[2][1].total_sum %>
                            </span>/-</p>
                        <p class="text">Total Amount</p>
                    </div>
                </div>
                <!-- ---------------AMOUNT IN BANK ------------ -->
                <div class="amount_in-bank flex data">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="money-bill-stack" class="svg">
                        <path fill="##000000"
                            d="M20,1H4A3,3,0,0,0,1,4V20a3,3,0,0,0,3,3H20a3,3,0,0,0,3-3V4A3,3,0,0,0,20,1ZM8,21H4a1,1,0,0,1-1-1V18.82A3,3,0,0,0,4,19H8Zm0-4H4a1,1,0,0,1-1-1V14.82A3,3,0,0,0,4,15H8Zm0-4H4a1,1,0,0,1-1-1V4A1,1,0,0,1,4,3H8Zm6,8H10V15h4Zm0-8H10V3h4Zm7,7a1,1,0,0,1-1,1H16V19h4a3,3,0,0,0,1-.18Zm0-4a1,1,0,0,1-1,1H16V15h4a3,3,0,0,0,1-.18Zm0-4a1,1,0,0,1-1,1H16V3h4a1,1,0,0,1,1,1ZM18,7a1,1,0,1,0,1,1A1,1,0,0,0,18,7ZM6,9A1,1,0,1,0,5,8,1,1,0,0,0,6,9Z">
                        </path>
                    </svg>
                    <div class="total_user_data">
                        <p class="size">&#8377;<span>
                                <%= data[1][0].cash_sum + data[1][1].cash_sum %>
                            </span>/-</p>
                        <p class="text">Cash in Hand</p>
                    </div>
                </div>
                <!-- ---------CASH IN HAND----------- -->
                <div class="cash_in-hand flex data">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="money-bill-stack" class="svg">
                        <path fill="##000000"
                            d="M20,1H4A3,3,0,0,0,1,4V20a3,3,0,0,0,3,3H20a3,3,0,0,0,3-3V4A3,3,0,0,0,20,1ZM8,21H4a1,1,0,0,1-1-1V18.82A3,3,0,0,0,4,19H8Zm0-4H4a1,1,0,0,1-1-1V14.82A3,3,0,0,0,4,15H8Zm0-4H4a1,1,0,0,1-1-1V4A1,1,0,0,1,4,3H8Zm6,8H10V15h4Zm0-8H10V3h4Zm7,7a1,1,0,0,1-1,1H16V19h4a3,3,0,0,0,1-.18Zm0-4a1,1,0,0,1-1,1H16V15h4a3,3,0,0,0,1-.18Zm0-4a1,1,0,0,1-1,1H16V3h4a1,1,0,0,1,1,1ZM18,7a1,1,0,1,0,1,1A1,1,0,0,0,18,7ZM6,9A1,1,0,1,0,5,8,1,1,0,0,0,6,9Z">
                        </path>
                    </svg>
                    <div class="total_user_data">
                        <p class="size">&#8377;<span>
                                <%= data[1][0].online_sum + data[1][1].online_sum %>
                            </span>/-</p>
                        <p class="text">Amount in Bank</p>
                    </div>
                </div>
                 <!-- -------Total Expenses--------- -->

                 <div class="total-amount flex data ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="money-bill-stack" class="svg">
                        <path fill="##000000"
                            d="M20,1H4A3,3,0,0,0,1,4V20a3,3,0,0,0,3,3H20a3,3,0,0,0,3-3V4A3,3,0,0,0,20,1ZM8,21H4a1,1,0,0,1-1-1V18.82A3,3,0,0,0,4,19H8Zm0-4H4a1,1,0,0,1-1-1V14.82A3,3,0,0,0,4,15H8Zm0-4H4a1,1,0,0,1-1-1V4A1,1,0,0,1,4,3H8Zm6,8H10V15h4Zm0-8H10V3h4Zm7,7a1,1,0,0,1-1,1H16V19h4a3,3,0,0,0,1-.18Zm0-4a1,1,0,0,1-1,1H16V15h4a3,3,0,0,0,1-.18Zm0-4a1,1,0,0,1-1,1H16V3h4a1,1,0,0,1,1,1ZM18,7a1,1,0,1,0,1,1A1,1,0,0,0,18,7ZM6,9A1,1,0,1,0,5,8,1,1,0,0,0,6,9Z">
                        </path>
                    </svg>
                    <div class="total_user_data">
                        <p class="size">&#8377;<span>
                                <%= data[3][0].cash_expenses + data[3][0].online_expenses %>
                            </span>/-</p>
                        <p class="text">Total Expenses</p>
                    </div>
                </div>
                <!-- ---------------Expenses By Cash------------ -->
                <div class="amount_in-bank flex data">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="money-bill-stack" class="svg">
                        <path fill="##000000"
                            d="M20,1H4A3,3,0,0,0,1,4V20a3,3,0,0,0,3,3H20a3,3,0,0,0,3-3V4A3,3,0,0,0,20,1ZM8,21H4a1,1,0,0,1-1-1V18.82A3,3,0,0,0,4,19H8Zm0-4H4a1,1,0,0,1-1-1V14.82A3,3,0,0,0,4,15H8Zm0-4H4a1,1,0,0,1-1-1V4A1,1,0,0,1,4,3H8Zm6,8H10V15h4Zm0-8H10V3h4Zm7,7a1,1,0,0,1-1,1H16V19h4a3,3,0,0,0,1-.18Zm0-4a1,1,0,0,1-1,1H16V15h4a3,3,0,0,0,1-.18Zm0-4a1,1,0,0,1-1,1H16V3h4a1,1,0,0,1,1,1ZM18,7a1,1,0,1,0,1,1A1,1,0,0,0,18,7ZM6,9A1,1,0,1,0,5,8,1,1,0,0,0,6,9Z">
                        </path>
                    </svg>
                    <div class="total_user_data">
                        <p class="size">&#8377;<span>
                                <%= data[3][0].cash_expenses %>
                            </span>/-</p>
                        <p class="text">Expenses By Cash</p>
                    </div>
                </div>
                <!-- ---------Expenses By Online----------- -->
                <div class="cash_in-hand flex data">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="money-bill-stack" class="svg">
                        <path fill="##000000"
                            d="M20,1H4A3,3,0,0,0,1,4V20a3,3,0,0,0,3,3H20a3,3,0,0,0,3-3V4A3,3,0,0,0,20,1ZM8,21H4a1,1,0,0,1-1-1V18.82A3,3,0,0,0,4,19H8Zm0-4H4a1,1,0,0,1-1-1V14.82A3,3,0,0,0,4,15H8Zm0-4H4a1,1,0,0,1-1-1V4A1,1,0,0,1,4,3H8Zm6,8H10V15h4Zm0-8H10V3h4Zm7,7a1,1,0,0,1-1,1H16V19h4a3,3,0,0,0,1-.18Zm0-4a1,1,0,0,1-1,1H16V15h4a3,3,0,0,0,1-.18Zm0-4a1,1,0,0,1-1,1H16V3h4a1,1,0,0,1,1,1ZM18,7a1,1,0,1,0,1,1A1,1,0,0,0,18,7ZM6,9A1,1,0,1,0,5,8,1,1,0,0,0,6,9Z">
                        </path>
                    </svg>
                    <div class="total_user_data">
                        <p class="size">&#8377;<span>
                                <%= data[3][0].online_expenses %>
                            </span>/-</p>
                        <p class="text">Expenses By Online</p>
                    </div>
                </div>
            </div>

            <!-- ----------- EXPENSES TABLE----------- -->
            <div class="expensebox">
                <div class="expenseheader">
                    <h4 class="uppercase">expenses</h4>
                    <div class="flex">
                        <select id="ExpsMonth">
                            <option value="1">January</option>
                            <option value="2">Fabruary</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <select id="ExpsYear">
                            <option value="2023">2023</option>
                            <option value="2024" selected>2024</option>
                            <option value="2025">2025</option>
                        </select>
                        <div class="btn" onclick="ChangeExpsByMonths(this.parentElement)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="search" class="open svg">
                                    <path fill="##000000"
                                        d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z">
                                    </path>
                                </svg>

                        </div>
                    </div>
                </div>
                <hr>
                <div class="expense-page">
                    <!-- --------------Expense 1--------------------------  -->
                    <% data[0]?.forEach(exps=>{ %>
                        <div class="expense-list flex" data-exps_id="<%= exps.id  %>">
                            <div class="expense-ref">
                                <p class="uppercase exp-ref">Ref. no.</p>
                                <p class="exp-refn">
                                    <%= exps.id %>
                                </p>
                            </div>
                            <!-- -------------------  -->
                            <div class="expense-name">
                                <p class="uppercase exp-name">expense name</p>
                                <p class="exp-name-data">
                                    <%= exps.title %>
                                </p>
                            </div>
                            <!-- ----------------------------------  -->
                            <div class="expense-amount">
                                <p class="uppercase exp-amo">Amount</p>
                                <p class="exp-amo-data">&#8377; <span class="exp-amount-data">
                                        <%= exps.amount %>
                                    </span></p>
                            </div>
                            <!-- ----------------------------------  -->
                            <div class="expense-date">
                                <p class="uppercase exp-date">date</p>
                                <p class="exp-date-data">
                                    <%= exps.date %>
                                </p>
                            </div>
                            <!-- ----------------------------------  -->
                            <div class="expense-mode">
                                <p class="uppercase exp-mode">mode of payment</p>
                                <p class="exp-mode-data">
                                    <%= exps.md_type %>
                                </p>
                            </div>
                            <!-- ---------------------------------  -->
                            <div class="expense-remarks">
                                <p class="uppercase exp-rem">remarks</p>
                                <p class="exp-rem-content">
                                    <%= exps.remark %>
                                </p>

                            </div>
                            <!-- ---------------------------------  -->

                        </div>
                        <hr>
                        <% }) %>
                </div>
                <!-- ----------------------------------------------  -->
                <hr>

                <%- include('../partials/pagin.ejs') %>
            </div>
            <!-- --------ADD AN EXPENSE-----------  -->
            <div class="addexpense hide">
                <div class="expense-grid" data-exps_id="">
                    <div class="egrid">
                        <div class="field">
                            <label for="name">Expense Name</label>
                            <input type="text" name="expname" id="exp-name" placeholder="Expense Name">
                        </div>
                        <div class="field">
                            <label for="cnumber">Amount</label>
                            <input type="text" name="expamount" id="amount" placeholder="Amount">
                        </div>
                        <div class="field">
                            <label for="email">Mode of Payment</label>
                            <select name="modeOfPays" id="mode">
                                <option value="cash">Cash</option>
                                <option value="online">Online</option>
                            </select>
                        </div>
                        <div class="field">
                            <label for="date">Date of Expense</label>
                            <input type="date" name="date" id="date">
                        </div>
                    </div>
                    <div class="field">
                        <label for="remarks">Remarks</label>
                        <textarea id="remark"></textarea>
                    </div>
                    <div class="flex user-btns">
                        <button class="uppercase" onclick="addExpense()">update</button>
                        <button class="uppercase" onclick="Cls_ExpenseCtn('.addexpense')">Close</button>
                    </div>
                </div>
            </div>

            <!-- --------EDIT EXPENSE----------- -->
            <div class="editexpense hide">
                <div class="expense-grid" data-exps_id="">
                    <h3>Update Expense</h3>
                    <div class="egrid">
                        <div class="field">
                            <label for="name">Expense Name</label>
                            <input type="text" name="expname" id="exp-name" placeholder="Expense Name">
                        </div>
                        <div class="field">
                            <label for="cnumber">Amount</label>
                            <input type="text" name="expamount" id="amount" placeholder="Amount">
                        </div>
                        <div class="field">
                            <label for="email">Mode of Payment</label>
                            <select name="modeOfPays" id="mode">
                                <option value="cash">Cash</option>
                                <option value="online">Online</option>
                            </select>
                        </div>
                        <div class="field">
                            <label for="date">Date of Expense</label>
                            <input type="date" name="date" id="date">
                        </div>
                    </div>
                    <div class="field">
                        <label for="remarks">Remarks</label>
                        <textarea id="remark"></textarea>
                    </div>
                    <div class="flex user-btns">
                        <button class="uppercase" onclick="updExpense(this)">update</button>
                        <button class="uppercase" onclick="Cls_ExpenseCtn('.editexpense')">Close</button>
                    </div>
                </div>
            </div>
        </main>
    </section>


    <!-- JAVASCRIPT -->
    <script src="/js/CA/main.js"></script>

</body>

</html>